{% extends "base.html" %}
{% load staticfiles %}
{% load main_slider %}

{% block content %}
    {% get_slide_list slide %}
    <div class="container marketing">
      <div class="row featurette">
        <div class="col-md-12">
          <h2 class="featurette-heading">Donec<span class="text-muted">metus auctor fringilla.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
      </div>
      <hr class="featurette-divider">
    <h2>Вывод врачей по спискам</h2>

    {% for special in special_list %}
        <h3>{{ special.name }}</h3>
        <ul>
        {% for d in doctors_list %}
            <li><a href="{% url 'doctor_detail' d.slug %}">{{ d.title|title }}</a></li>
        {% endfor %}
        </ul>
    {% endfor %}

    </div>

{% endblock content %}