{% extends "base.html" %}
{% load staticfiles %}
{% load main_slider %}
{% block content %}
{% get_slide_list slide %}
    <div class="container marketing">
      <div class="row featurette">
        <div class="col-md-12">
          <h2 class="featurette-heading">Donec<span class="text-muted">metus auctor fringilla.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
      </div>
      <hr class="featurette-divider">
    </div>
{% endblock content %}