{% extends "base.html" %}
{%block keywords %}{{ page.keywords }}{% endblock keywords %}
{%block description %}{{ page.description }}{% endblock description %}
{% block title %}{{page.title}} | {{block.super}}{% endblock title %}
{% block content %}
    <div class="container marketing">
      <div class="row featurette">
        <div class="col-md-12">
          <h2 class="featurette-heading">{{ page.title }}</h2>
          {% autoescape off %}{{page.content}}{% endautoescape %}
        </div>
      </div>
      <hr class="featurette-divider">
    </div>
{% endblock content %}